body {
    margin: 0 auto;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT';
    display: grid;
    justify-content: center;
    max-width: 30em;
}

.title {
    color: #16697A;
    text-align: center;
    margin-bottom: 1em;
}

.entry-textbox {
    background-color: #FFA62B;
    width: 35em;
    height: 10em;
    padding: 1em;
    border-radius: 25px;
    margin-bottom: 0.5em;
    border: unset;
}

.entry-textbox:focus {
    outline: none;
}

#entries {
    background-color: #16697A;
    color: #ede7e3;
    border-radius: 25px;
    border: unset;
    padding: 2em;
    margin-top: 1em;
    font-family: cursive;
}

#entryForm .submit-button {
    border: unset;
    border-radius: 25px;
    padding: 0.4em 1em;
    margin-left: 86%;
}

.old-entries-button {
    border: unset;
    border-radius: 25px;
    padding: 0.4em 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 77.6%;
}

.entries-nav {
    padding-bottom: 1em;
}

.display-entry-button {
    margin: 0.2em;
}

.display-entry-button:hover {
    cursor: pointer;
}

.saved-entry {
    padding: 1em;
    background-color: steelblue;
    color: white;
    display: none;
    border-radius: 5px;
}

#old-entry-choices {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}